* {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #252526;
  }

  .box{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
    gap: 1em;

  }

  .box div{
    padding: 1em;
    background: rebeccapurple;

  }
  .box div:hover{
    border: 3px solid;
  }
  
  h1 {
    font-size: 30;
  }
  .cuadro{
    align-items: center;
  }